body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
#title{
    background-color: #d1f9b1;
}
.welcome-heading{
    font-family:  'Montserrat';
    font-size: 3rem;
    line-height: 1.3;
    font-weight: 600;
}
.container-fluid{
    padding: 3% 15%;
}