body{
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Ubuntu', sans-serif; */
}
p{
    color: grey;
}
/* Navbar CSS */
.navbar{
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
     font-family: 'Ubuntu', sans-serif;
     font-size: 2.5rem;
     font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}

#title{
    background-color: rgb(255 159 159);
}
.welcome-heading{
    font-family:  'Montserrat';
    font-size: 3.3rem;
    line-height: 1.5;
    font-weight: bold;
    color: white;
}
.title-image{
    width: 60%;
    transform: rotate(20deg);
}
.container-fluid{
    padding: 3% 15%;
}
.download-btn{
    margin: 5% 3% 0 0;
}

/* features */
#features{
    padding: 7% 12%;
}
.fa-solid{
    color:rgb(255 159 159) ;
    font-size: xxx-large;
}
.features-heading{
    font-family:  'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
}
.features-box{
    padding: 5%;
    text-align: center;
}
#testimonials{
    
    text-align: center;
    background-color:rgb(255 159 159)  ;
    color: white;
}
.test-heading{
    font-size: 3rem;
    line-height: 1.5;
    font-family:  'Montserrat';
    font-weight: bold;
}
.test-img{
    width: 10%;
    border-radius: 50%;
    margin: 2rem;
}
#press{
    background-color:rgb(255 159 159)  ;
    text-align: center;
    padding-bottom: 3rem;
}
.press-img{
    width: 15%;
    margin: 20px 20px 20px;
}
.carousel-item{
    padding: 7% 15%;
}