body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    /* font-family: 'Ubuntu', sans-serif; */
}
p{
    color: grey;
}
h2{
    font-size: 3rem;
    line-height: 1.5;
    font-family:  'Montserrat';
    font-weight: bold;
}
/* Navbar CSS */
.navbar{
    padding: 0 0 4.5rem 0;
}

.navbar-brand{
     font-family: 'Ubuntu', sans-serif;
     font-size: 2.5rem;
     font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
}

.big-heading{
    font-family:  'Montserrat';
    font-size: 3.3rem;
    line-height: 1.5;
    font-weight: bold;
    color: white;
}

/* Title */
#title{
    background-color: rgb(255 159 159);
    text-align: left;
}

.title-image{
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    right: 30%;
}
.container-fluid{
    padding: 3% 15% 11%;
}
.download-btn{
    margin: 5% 3% 5% 0;
}

/* features */
#features{
    padding: 7% 12%;
    background-color: white;
    position: relative;
}
.feature-icon{
    color:rgb(255 159 159) ;
    font-size: xxx-large;
}
.features-heading{
    font-family:  'Montserrat';
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 1rem;
}
.features-box{
    padding: 5%;
}

/* testimonials */
#testimonials{
    background-color:rgb(255 159 159)  ;
    color: white;
}
.test-heading{
    font-size: 3rem;
    line-height: 1.5;
    font-family:  'Montserrat';
    font-weight: bold;
}
.test-img{
    width: 10%;
    border-radius: 50%;
    margin: 2rem;
}
#press{
    background-color:rgb(255 159 159)  ;
    padding-bottom: 3rem;
}
.press-img{
    width: 15%;
    margin: 20px 20px 20px;
}
.carousel-item{
    padding: 7% 15%;
}

/* pricing */
#pricing{
    padding: 100px;
}
.pricing-card{
    padding: 3% 2%;
}

#cta{
    padding: 7% 15%;
    background-color: rgb(255 159 159);
}

/* footer */
#footer{
    padding: 2% 15%;
}
.footer-icons{
    padding: 1.5rem 1rem;
}

/* media-queries */
@media (max-width:990px) {
    #title{
        text-align: center;
    }

    .title-image{
        transform: rotate(0);
        position: static;
    }
}

